/*
* {
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search {
    flex-direction: row;
}

tr, th {
    font-size: 15px;
}*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.dashboard {
    background-image: url("/assets/bake-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 58px);
}

main {
    padding-top: 30px;
    position: relative;
    z-index: 1;
}

.item-page, .customer-page, .invoice-page, .order-page {
    padding-top: 20px;
    position: relative;
    z-index: 1;
}

@media (max-width: 320px) {
    table {
        font-size: 12px;
    }

    table th,
    table td {
        padding: 0.3rem;
        word-break: break-word;
    }
}
